## GOAL

Identify non-ethnic / race factors contributing to crime rate in NYC. 

1. How does weather impact frequency and type of crime
2. How does age group influence type and intensity of crime
3. How does gender distribution impact type and intensity of crime
4. How does poverty level impact frequency and type of crime
5. What are clusters of demographics that can be found using arrest data alone

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm

In [4]:
arrests = pd.read_csv('/Users/abbascauser/Documents/Data Science/Capstone/NYPD_Arrest_Data__Year_to_Date__20231017.csv')

In [29]:
arrests.head()

,ARREST_KEY,ARREST_DATE,PD_CD,PD_DESC,KY_CD,OFNS_DESC,LAW_CODE,LAW_CAT_CD,ARREST_BORO,ARREST_PRECINCT,JURISDICTION_CODE,AGE_GROUP,PERP_SEX,PERP_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,New Georeferenced Column
0,263238742,02/08/2023,380.0,"ROBBERY,CAR JACKING",105.0,ROBBERY,PL 1601003,F,K,62,0,25-44,F,WHITE,989904,156928,40.597407,-73.979638,POINT (-73.979638 40.597407)
1,265590985,03/24/2023,155.0,RAPE 2,104.0,RAPE,PL 1303001,F,S,120,0,18-24,M,BLACK,962873,174172,40.644721,-74.077033,POINT (-74.0770327198983 40.6447209438691)
2,265798132,03/28/2023,157.0,RAPE 1,104.0,RAPE,PL 1303501,F,S,120,0,25-44,M,BLACK,962873,174172,40.644721,-74.077033,POINT (-74.0770327198983 40.6447209438691)
3,269233687,06/02/2023,157.0,RAPE 1,104.0,RAPE,PL 1303501,F,Q,110,0,25-44,M,WHITE HISPANIC,1019164,210169,40.743481,-73.874004,POINT (-73.8740035373971 40.7434812638841)
4,270519574,06/28/2023,157.0,RAPE 1,104.0,RAPE,PL 1303501,F,K,84,0,25-44,M,BLACK HISPANIC,988902,192641,40.695439,-73.983225,POINT (-73.9832253756043 40.6954388081238)

In [14]:
arrests.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112571 entries, 0 to 112570
Data columns (total 19 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ARREST_KEY                112571 non-null  int64
 1   ARREST_DATE               112571 non-null  object
 2   PD_CD                     112110 non-null  float64
 3   PD_DESC                   112571 non-null  object
 4   KY_CD                     112105 non-null  float64
 5   OFNS_DESC                 112571 non-null  object
 6   LAW_CODE                  112571 non-null  object
 7   LAW_CAT_CD                111725 non-null  object
 8   ARREST_BORO               112571 non-null  object
 9   ARREST_PRECINCT           112571 non-null  int64
 10  JURISDICTION_CODE         112571 non-null  int64
 11  AGE_GROUP                 112571 non-null  object
 12  PERP_SEX                  112571 non-null  object
 13  PERP_RACE                 112571 non-null  object
 14  X_COORD_CD                112571 non-null  int64
 15  Y_COORD_CD                112571 non-null  int64
 16  Latitude                  112571 non-null  float64
 17  Longitude                 112571 non-null  float64
 18  New Georeferenced Column  112571 non-null  object
dtypes: float64(4), int64(5), object(10)
memory usage: 16.3+ MB

In [6]:
financial = pd.read_csv('/Users/abbascauser/Documents/Data Science/Capstone/Neighborhood_Financial_Health_Digital_Mapping_and_Data_Tool_20231017.csv')

In [9]:
financial.head()

,Year Published,PUMA,Borough,Neighborhoods,CD,Join,NYC_Poverty_Rate,Median_Income,Perc_White,Perc_Black,...,Ind6Rank,Ind6Definition,Ind7,Ind7Outcome,Ind7Rank,Ind7Definition,Ind8,Ind8Outcome,Ind8Rank,Ind8Definition
0,2020,3701,Bronx,"Riverdale, Fieldston & Kingsbridge",BX Community District 8,3701,0.152,30437,0.324,0.124,...,32.0,Percentage of jobs in small businesses (less t...,Participatory Budgeting,0.071777,26.0,Percentage of eligible residents casting a vot...,NaN,NaN,NaN,NaN
1,2020,3701,Bronx,"Riverdale, Fieldston & Kingsbridge",BX Community District 8,3701,0.152,30437,0.324,0.124,...,38.0,Percentage of bank & credit union branches off...,Mobile Banking Utilization,0.205800,23.0,Estimated percentage of residents that used mo...,NaN,NaN,NaN,NaN
2,2020,3701,Bronx,"Riverdale, Fieldston & Kingsbridge",BX Community District 8,3701,0.152,30437,0.324,0.124,...,27.0,Number of pre-foreclosure notices issued per 1...,Financial Counseling,0.000000,40.0,Full-Time Equivalent Financial Counselors per ...,NaN,NaN,NaN,NaN
3,2020,3701,Bronx,"Riverdale, Fieldston & Kingsbridge",BX Community District 8,3701,0.152,30437,0.324,0.124,...,41.0,Average (mean) travel time to work in minutes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020,3701,Bronx,"Riverdale, Fieldston & Kingsbridge",BX Community District 8,3701,0.152,30437,0.324,0.124,...,28.0,Percentage of people eligible for SNAP receivi...,Tax Credit Utilization,0.966000,9.0,Percentage of eligible Tax Units claiming EITC,Adults With High School Diploma,0.845032,21.0,Percentage of adults with a high school degree...

In [10]:
demo_stats = pd.read_csv('/Users/abbascauser/Documents/Data Science/Capstone/Demographic_Statistics_By_Zip_Code_20231017.csv')

In [11]:
demo_stats.head()

,JURISDICTION NAME,COUNT PARTICIPANTS,COUNT FEMALE,PERCENT FEMALE,COUNT MALE,PERCENT MALE,COUNT GENDER UNKNOWN,PERCENT GENDER UNKNOWN,COUNT GENDER TOTAL,PERCENT GENDER TOTAL,...,COUNT CITIZEN STATUS TOTAL,PERCENT CITIZEN STATUS TOTAL,COUNT RECEIVES PUBLIC ASSISTANCE,PERCENT RECEIVES PUBLIC ASSISTANCE,COUNT NRECEIVES PUBLIC ASSISTANCE,PERCENT NRECEIVES PUBLIC ASSISTANCE,COUNT PUBLIC ASSISTANCE UNKNOWN,PERCENT PUBLIC ASSISTANCE UNKNOWN,COUNT PUBLIC ASSISTANCE TOTAL,PERCENT PUBLIC ASSISTANCE TOTAL
0,10001,44,22,0.50,22,0.50,0,0,44,100,...,44,100,20,0.45,24,0.55,0,0,44,100
1,10002,35,19,0.54,16,0.46,0,0,35,100,...,35,100,2,0.06,33,0.94,0,0,35,100
2,10003,1,1,1.00,0,0.00,0,0,1,100,...,1,100,0,0.00,1,1.00,0,0,1,100
3,10004,0,0,0.00,0,0.00,0,0,0,0,...,0,0,0,0.00,0,0.00,0,0,0,0
4,10005,2,2,1.00,0,0.00,0,0,2,100,...,2,100,0,0.00,2,1.00,0,0,2,100

In [16]:
demo_snap = pd.read_csv('/Users/abbascauser/Documents/Data Science/Capstone/2017-18__-_2021-22_Demographic_Snapshot_20231017.csv')

In [17]:
demo_snap

,DBN,School Name,Year,Total Enrollment,Grade 3K,Grade PK (Half Day & Full Day),Grade K,Grade 1,Grade 2,Grade 3,...,% White,# Missing Race/Ethnicity Data,% Missing Race/Ethnicity Data,# Students with Disabilities,% Students with Disabilities,# English Language Learners,% English Language Learners,# Poverty,% Poverty,Economic Need Index
0,01M015,P.S. 015 Roberto Clemente,2017-18,190,0,17,28,32,33,23,...,0.032,0,0.000,49,0.258,8,0.042,161,84.7%,89.0%
1,01M015,P.S. 015 Roberto Clemente,2018-19,174,0,13,20,33,30,30,...,0.034,0,0.000,39,0.224,8,0.046,147,84.5%,88.8%
2,01M015,P.S. 015 Roberto Clemente,2019-20,190,0,14,29,28,38,33,...,0.047,0,0.000,46,0.242,17,0.089,155,81.6%,86.7%
3,01M015,P.S. 015 Roberto Clemente,2020-21,193,0,17,29,29,27,30,...,0.057,0,0.000,44,0.228,21,0.109,161,83.4%,86.4%
4,01M015,P.S. 015 Roberto Clemente,2021-22,179,0,15,30,26,24,22,...,0.067,0,0.000,38,0.212,11,0.061,150,83.8%,87.9%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9246,84X730,Bronx Charter School for the Arts,2017-18,314,0,0,50,51,54,51,...,0.003,0,0.000,68,0.217,57,0.182,258,82.2%,89.1%
9247,84X730,Bronx Charter School for the Arts,2018-19,430,0,0,49,54,49,54,...,0.007,0,0.000,103,0.240,71,0.165,363,84.4%,88.8%
9248,84X730,Bronx Charter School for the Arts,2019-20,523,0,0,51,50,53,52,...,0.010,0,0.000,117,0.224,69,0.132,453,86.6%,89.2%
9249,84X730,Bronx Charter School for the Arts,2020-21,626,0,0,38,52,53,55,...,0.006,1,0.002,152,0.243,78,0.125,547,87.4%,88.9%
9250,84X730,Bronx Charter School for the Arts,2021-22,598,0,0,52,44,54,55,...,0.005,2,0.003,133,0.222,79,0.132,540,90.3%,90.3%

In [27]:
demo_snap['% White'].mean()

0.11862641876553887

#### To Dos

1. Join arrests lon lat with